:root {
  --primary: #004096;
  --secondary: #77bce3;
  --white: #f8ead0;
}

p {
  margin: 0px;
  padding: 0px;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-white {
  background-color: var(--white) !important;
}
