:root {
  --primary: #02ca81;
  --secondary: #014b3f;
  --white: #fff6ef;
}

p {
  margin: 0px;
  padding: 0px;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-white {
  background-color: var(--white) !important;
}
